{% load i18n %}{% blocktranslate with usuario=user.username %}Hola {{ usuario }},{% endblocktranslate %}

{% translate "Recibes este correo porque solicitaste restablecer la contraseña de tu cuenta en xGol." %}

{% translate "Por favor entra al siguiente enlace y elige una nueva contraseña:" %}

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

{% translate "Si tú no solicitaste este cambio, puedes ignorar este mensaje." %}

{% translate "Gracias por usar xGol." %}
{% translate "El equipo de xGol" %}